
body{
    font-family: var(--font-principal);
    max-width: 1280px;
    margin: 0 auto;
    background: url(https://www.reportersul.com.br/uploads/images/2020/07/mais-um-dia-de-sol-e-temperatura-elevada-em-sc-1595502961.jpg
    color: #333333;
}

.modo-escuro{
    background: url(https://img.freepik.com/vetores-gratis/noite-na-floresta_1308-69877.jpg) no-repeat center fixed;
    color: #f5f5f5;
}

/* Cabecalho */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

header .imagem-botao,
header .logo{
    width: 50px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .imagem-botao:hover,
header .logo:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
  background-color: #ffffff86;  
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background: #8fe7ff;
}

.modo-escuro .cartao-pokemon:hover{
    background: black;
}
.modo-escuro .cartao-pokemon{
    background: rgba(0, 0, 0, 0.76);
}

.modo-escuro .cartao-pokemon .informacoes{
    border: white 2px solid;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 2px solid #333333;
    border-radius: 10px;
} 

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f6;
}

.inseto{
    background-color: #a6b91a;
}

.voo{
    background: linear-gradient(
        to top, grey 40%, rgb(45, 241, 255) 50%
    );
}

main .descricao{
    max-height: 80px;

    /* Scroll da discricao */
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}
